/deep_learning_CNN_colab.h5
/deep_learning_CNN_ohe.sav
/deep_learning_CNN_tok.sav
/DIvidend_Right_Issue_Binary_word_filter_mlp_BEST.sav
/DIvidend_Right_Issue_mlp_BEST.sav
/three_class.sav
/word_filter_three_class.sav